name: personal_finance
description: "App para gestionar finanzas personales"
publish_to: 'none'
version: 1.0.0-beta.1+1


environment:
  sdk: ^3.7.0

workspace:
  - packages/core
  - packages/ui_kit
  - packages/features/auth
  - packages/features/transactions
  - packages/features/connectivity
  - apps/personal_finance_app

dev_dependencies:
  melos: ^7.0.0-dev.8

melos:
  name: personal_finance

  packages:
    - apps/**
    - packages/**

  command:
    bootstrap:
      usePubspecOverrides: true

  scripts:
    analyze:
      exec:
        concurrency: 5
      run: flutter analyze .

    format:check:
      run: dart format . --set-exit-if-changed

    fix:
      run: dart fix --apply

    unit_test:
      run: melos exec --dir-exists="test" --fail-fast -- flutter test --no-pub --coverage
      description: Run all Flutter tests in this project.
      select-package:
        dir-exists: test

    unit_test_and_coverage:
      description: Merge all packages coverage tracefiles ignoring data related to generated files.
      run: |
        melos exec rm -rf coverage
        melos run unit_test
        melos exec -c 1 --file-exists=coverage/lcov.info -- coverde filter --input ./coverage/lcov.info --output MELOS_ROOT_PATH/coverage/filtered.lcov.info --filters \.g\.dart
        coverde value -i coverage/filtered.lcov.info > MELOS_ROOT_PATH/coverage/result.txt

    quality:check:
      run: melos run format:check && melos run analyze && melos run unit_test

    run-app:
      description: Run app
      exec: flutter run lib/main.dart
      packageFilters:
        flutter: true