name: ui_kit
description: "Design System components for the app."
version: 0.0.2
publish_to: none
resolution: workspace

environment:
  sdk: ^3.7.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.3.2
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  network_image_mock: ^2.1.1

flutter:
  uses-material-design: true